[Unit]
Description=Andesxio Block Storage for K8S CSI plugin
After=network.target
Wants=syslog.target

[Service]
EnvironmentFile=-/etc/default/flexblockplugin
ExecStart=/usr/sbin/flexblockplugin --drivername=flexblock.csi.k8s.io --v=5 --endpoint=unix:///var/lib/kubelet/plugins/csi-flexblock/csi.sock --nodeid=%H
PIDFile=/var/run/flexblockplugin.pid
Restart=always
StartLimitInterval=10s
StartLimitBurst=0
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
